.report-graph .bar-graph-res {
  width: 1000px;
  margin-left: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.report-graph .bar-graph-res h2 {
  font-weight: 400;
  margin-top: 1.5rem;
}

.report-graph .bar-graphs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 3rem;
}

.report-graph .bar-graphs .bar-graph {
  width: 560px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.report-graph .bar-graphs .bar-graph h2 {
  font-weight: 300;
}

.report-graph .bar-graphs .bar-graph h2 a {
  text-decoration: none;
  color: black;
}

.report-graph .bar-graphs .bar-graph h2 a:hover {
  color: #1a73e8;
}

.report-graph .pie-graphs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.report-graph .pie-graphs .pie-graph-gender {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.report-graph .pie-graphs h2 {
  font-weight: 300;
}

.report-graph .pie-graphs h2 a {
  text-decoration: none;
  color: black;
}

.report-graph .pie-graphs h2 a:hover {
  color: #1a73e8;
}
