.bigContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0%;
  background: burlywood;
}

.bigContainer h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.bigContainer #header {
  display: flex;
  flex-direction: row;
  padding: 3rem;
  padding-top: 2rem;
  padding-left: 6rem;
  width: 90%;
  height: 80%;
  font-weight: bold;
  background: white;
  font-size: 20px;
  justify-content: space-around;
  margin-bottom: 2.5rem;
}

.bigContainer .container {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
}

.bigContainer .container #submitButton {
  width: 150px;
  font-size: larger;
  height: 55px;
  margin-left: 3rem;
  border-radius: 5px;
  border: 1px solid #000000;
  background: rgba(128, 128, 128, 0.3);
}

.bigContainer .container #submitButton:hover {
  background: black;
  color: white;
}

.bigContainer #Data_Collection {
  display: flex;
  text-align: center;
  flex-direction: column;
  color: white;
  font-weight: 800;
  font-size: xxx-large;
}

.bigContainer input {
  margin-top: 4px;
  border: 1px solid #000000;
  border-radius: 4px;
  box-sizing: border-box;
}

.bigContainer input:hover {
  border: 1px solid rgba(128, 128, 128, 0.3);
}

.bigContainer label {
  margin-top: 10px;
}

.bigContainer select {
  margin-top: 4px;
  border: 1px solid #000000;
  border-radius: 4px;
  box-sizing: border-box;
}

.bigContainer select:hover {
  border: 1px solid rgba(128, 128, 128, 0.3);
}

.bigContainer #main #first,
.bigContainer #main #second,
.bigContainer #main #third,
.bigContainer #main #fourth,
.bigContainer #main #fifth,
.bigContainer #main #sixth,
.bigContainer #main #seventh,
.bigContainer #main #eighth,
.bigContainer #main #ninth,
.bigContainer #main #tenth,
.bigContainer #main #eleventh,
.bigContainer #main #twelveth,
.bigContainer #main #thirteenth,
.bigContainer #main2 #first,
.bigContainer #main2 #second,
.bigContainer #main2 #third,
.bigContainer #main2 #fourth,
.bigContainer #main2 #fifth,
.bigContainer #main2 #sixth,
.bigContainer #main2 #seventh,
.bigContainer #main2 #eighth,
.bigContainer #main2 #ninth,
.bigContainer #main2 #tenth,
.bigContainer #main2 #eleventh,
.bigContainer #main2 #twelveth,
.bigContainer #main2 #thirteenth {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
}

.bigContainer #main #first label,
.bigContainer #main #second label,
.bigContainer #main #third label,
.bigContainer #main #fourth label,
.bigContainer #main #fifth label,
.bigContainer #main #sixth label,
.bigContainer #main #seventh label,
.bigContainer #main #eighth label,
.bigContainer #main #ninth label,
.bigContainer #main #tenth label,
.bigContainer #main #eleventh label,
.bigContainer #main #twelveth label,
.bigContainer #main #thirteenth label,
.bigContainer #main2 #first label,
.bigContainer #main2 #second label,
.bigContainer #main2 #third label,
.bigContainer #main2 #fourth label,
.bigContainer #main2 #fifth label,
.bigContainer #main2 #sixth label,
.bigContainer #main2 #seventh label,
.bigContainer #main2 #eighth label,
.bigContainer #main2 #ninth label,
.bigContainer #main2 #tenth label,
.bigContainer #main2 #eleventh label,
.bigContainer #main2 #twelveth label,
.bigContainer #main2 #thirteenth label {
  font-weight: 400;
}

.bigContainer #main #first input[type='text'],
.bigContainer #main #second input[type='text'],
.bigContainer #main #third input[type='text'],
.bigContainer #main #fourth input[type='text'],
.bigContainer #main #fifth input[type='text'],
.bigContainer #main #sixth input[type='text'],
.bigContainer #main #seventh input[type='text'],
.bigContainer #main #eighth input[type='text'],
.bigContainer #main #ninth input[type='text'],
.bigContainer #main #tenth input[type='text'],
.bigContainer #main #eleventh input[type='text'],
.bigContainer #main #twelveth input[type='text'],
.bigContainer #main #thirteenth input[type='text'],
.bigContainer #main2 #first input[type='text'],
.bigContainer #main2 #second input[type='text'],
.bigContainer #main2 #third input[type='text'],
.bigContainer #main2 #fourth input[type='text'],
.bigContainer #main2 #fifth input[type='text'],
.bigContainer #main2 #sixth input[type='text'],
.bigContainer #main2 #seventh input[type='text'],
.bigContainer #main2 #eighth input[type='text'],
.bigContainer #main2 #ninth input[type='text'],
.bigContainer #main2 #tenth input[type='text'],
.bigContainer #main2 #eleventh input[type='text'],
.bigContainer #main2 #twelveth input[type='text'],
.bigContainer #main2 #thirteenth input[type='text'] {
  height: 30px;
  width: 200px;
}

.bigContainer #main #first input[type='date'],
.bigContainer #main #second input[type='date'],
.bigContainer #main #third input[type='date'],
.bigContainer #main #fourth input[type='date'],
.bigContainer #main #fifth input[type='date'],
.bigContainer #main #sixth input[type='date'],
.bigContainer #main #seventh input[type='date'],
.bigContainer #main #eighth input[type='date'],
.bigContainer #main #ninth input[type='date'],
.bigContainer #main #tenth input[type='date'],
.bigContainer #main #eleventh input[type='date'],
.bigContainer #main #twelveth input[type='date'],
.bigContainer #main #thirteenth input[type='date'],
.bigContainer #main2 #first input[type='date'],
.bigContainer #main2 #second input[type='date'],
.bigContainer #main2 #third input[type='date'],
.bigContainer #main2 #fourth input[type='date'],
.bigContainer #main2 #fifth input[type='date'],
.bigContainer #main2 #sixth input[type='date'],
.bigContainer #main2 #seventh input[type='date'],
.bigContainer #main2 #eighth input[type='date'],
.bigContainer #main2 #ninth input[type='date'],
.bigContainer #main2 #tenth input[type='date'],
.bigContainer #main2 #eleventh input[type='date'],
.bigContainer #main2 #twelveth input[type='date'],
.bigContainer #main2 #thirteenth input[type='date'] {
  height: 30px;
  width: 200px;
}

.bigContainer #main #first select,
.bigContainer #main #second select,
.bigContainer #main #third select,
.bigContainer #main #fourth select,
.bigContainer #main #fifth select,
.bigContainer #main #sixth select,
.bigContainer #main #seventh select,
.bigContainer #main #eighth select,
.bigContainer #main #ninth select,
.bigContainer #main #tenth select,
.bigContainer #main #eleventh select,
.bigContainer #main #twelveth select,
.bigContainer #main #thirteenth select,
.bigContainer #main2 #first select,
.bigContainer #main2 #second select,
.bigContainer #main2 #third select,
.bigContainer #main2 #fourth select,
.bigContainer #main2 #fifth select,
.bigContainer #main2 #sixth select,
.bigContainer #main2 #seventh select,
.bigContainer #main2 #eighth select,
.bigContainer #main2 #ninth select,
.bigContainer #main2 #tenth select,
.bigContainer #main2 #eleventh select,
.bigContainer #main2 #twelveth select,
.bigContainer #main2 #thirteenth select {
  height: 30px;
  width: 200px;
}
